@import "tailwindcss";

body {
  background: #000;
  color: #fff;
}

/* Hide scrollbar on filter bars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
